.jstree-default .jstree-ocl {
	margin-right: -4px;
	margin-left: -6px
}
.jstree-default .jstree-closed > .jstree-ocl {
  background-image: url(assets/collapse.png);
  background-position: center center;
	background-size: 80% !important;
}
.jstree-default .jstree-open > .jstree-ocl {
  background-image: url(assets/expand.png);
  background-position: center center;
	background-size: 80% !important;
}
.jstree-default .jstree-icon {
  background-size: contain !important;
}

/* .jstree-default {
	color: #ffffff99;
} */

.jstree-default .jstree-hovered {
  background-color: #ffffff22;
}

.jstree-default .jstree-clicked {
  background-color: #ffffff55;
}